:root {

  --vp-c-brand: #2563eb;

  --vp-c-brand-1: #2563eb;

  --vp-c-brand-2: #1d4ed8;

  --vp-c-brand-3: #1e40af;

  --vp-home-hero-name-color: transparent;

  --vp-home-hero-name-background: linear-gradient(
      120deg,
      #2563eb,
      #06b6d4
  );

}

.VPButton.brand{

    border-radius:12px;

}

.VPFeature{

    border-radius:16px;

}

.VPFeature:hover{

    transform:translateY(-4px);

    transition:.25s;

}